.hidden {
  display: none;
}

img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  opacity: 80%;
}

main {
  position: absolute;
  left: 38%;
  top: 35%;
}
#clock {
  color: burlywood;
  font-size: 6em;
  margin: auto;
}

#greeting {
  margin: auto;
  font-weight: bolder;
  color: antiquewhite;
  padding-left: 3rem;
}

#quote {
  position: absolute;
  bottom: 1rem;
  left: 31%;
}

#login-form h3 {
  margin: auto;
  padding-left: 2.1rem;
}

#login-form input {
  border-top: none;
  border-left: none;
  border-right: none;
  background: transparent;
}

#login-btn {
}
