.hidden {
  display: none;
}

body {
  text-align: center;
  height: 100%;
}

img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  opacity: 80%;
}

main {
  margin-top: 15%;
  animation: fadein 1s;
}

#clock {
  color: burlywood;
  font-size: 12rem;
  margin: auto;
}

.login input {
  width: 15%;
  border-top: none;
  border-left: none;
  border-right: none;
  background: transparent;
}

.login input:focus {
  outline: none;
}

#login-form h2 {
  font-size: 2.5rem;
  margin-top: 0;
}

#todo-form input {
  width: 15%;
  border-top: none;
  border-left: none;
  border-right: none;
  background: transparent;
}

#todo-form input:focus {
  outline: none;
}

#greeting {
  font-size: 2.5rem;
  margin-top: 0;
  animation: fadein 1s;
}

#quote {
  position: fixed;
  bottom: 0;
  width: 100%;
  animation: fadein 1s;
}

.sentence {
  display: block;
  font-size: 1.5rem;
  color: black;
}

.writer {
  font-size: 1.1rem;
}

#geo {
  position: fixed;
  right: 0;
  top: 0;
  font-size: 1.1rem;
  font-weight: 900;
  font-family: sans-serif;
  color: black;
  animation: fadein 1s;
}

#geo span:last-child {
  display: block;
}

#todo-list {
  animation: fadein 1s;
  list-style: none;
}

#todo-list li {
  padding-right: 3vw;
  animation: fadein 1s;
}

button {
  border: 1px solid black;
  background: transparent;
  border: none;
  animation: fadein 1s;
}

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
